.lmj-banner {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #fff;
	color: #000;
	padding: 32px 10px;
	border-bottom: solid 3px #000;
}

.lmj-title {
	font-size: 24px;
	margin: 0;
}

.lmj-logo {
	width: 40px;
	height: auto;
	margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .lmj-title {
    font-size: 20px;
  }

  .lmj-logo {
    width: 30px;
  }
}
