.lmj-plant-item-cover {
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
}

.lmj-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}
